.contentDark {
  background: linear-gradient(to right, #335855, #058a7f);
  .contentImage {
    background: rgb(164, 255, 177);
  }
}
.contentLight {
  background: linear-gradient(to bottom, rgb(155, 118, 80), rgb(182, 149, 116));
  color: white;
  .contentImage {
    background: rgb(255, 186, 37);
  }
}

.contentDark, .contentLight {
  max-width: 1200px;
  max-height: 700px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  margin: 30px auto;
  position: relative;
  border-radius: 25px;
  padding: 40px;
  animation: detalle 3s normal ;
}

@keyframes detalle {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.image {
  width: 500px;
  height: 500px;
  border-radius: 50px;
  margin: 0 auto;
  object-fit: cover;
  object-position: top;
}

.text {
  font-weight: 500;
  font-size: 1.5rem;
  margin: 0;
}

.subtitle {
  font-size: 25px;
  color: rgb(181, 179, 179);
  margin: 5px auto;
  width: 100%;
  align-self: flex-start;
}

.id {
  position: absolute;
  bottom: 3%;
  right: 6%;
  font-weight: bold;
  font-size: 1.5rem;
}

.specifications {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 0 20px 50px;
}

.button {
  position: absolute;
  left: 2%;
  top: 2%;
  background: transparent;
  border: 1px solid transparent;
  padding: 5px;
}

.contentImage {
  border: 1px solid transparent;
  border-radius: 70px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.temperamentos {
  width: 80%;
  margin: 0 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}


.name {
  display: flex;
  font-size: 30px;
  justify-content: flex-start;
  margin: 50px 0  ;
  width: 80%;
  & h2 {
    display: inline-block;
  }
}
