.darkMode {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: #197794;
  transition: all 0.5s;
  .select {
    position: relative;
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    background: #197794;
    color: white;
    font-weight: bold;
    appearance: none;
    cursor: pointer;
    transition: all 0.5s;
  }

  .select:focus,
  .select:hover {
    border-color: #ffffff;
    border: 3px solid #eeeeee;
  }

  .select:active {
    border-color: rgb(31, 199, 183);
  }

  .modeButton {
    position: absolute;
    left: 70%;
    top: 40px;
    background: #197794;
    padding: 5px;
    border-radius: 50%;
    transition: all .5s;
  }
}

.lightMode {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: #24b5e0;
  transition: all 0.5s;
  .select {
    position: relative;
    display: inline-block;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    background: rgb(36, 181, 224);
    color: white;
    font-weight: bold;
    appearance: none;
    cursor: pointer;
    transition: all 0.5s;
  }

  .select:focus,
  .select:hover {
    border-color: #ffffff;
    border: 3px solid #eeeeee;
  }

  .select:active {
    border-color: rgb(31, 199, 183);
  }

  .modeButton {
    position: absolute;
    left: 70%;
    top: 40px;
    background: #24b5e0;
    padding: 5px;
    border-radius: 50%;
    transition: all .5s;
  }
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 10px;
  border: 1px solid transparent;
}

.titleContent {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  margin: 0 5px 0 0;
  color: white;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 15px;
}

.itemList {
  margin: 0 15px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navOptions {
  display: flex;
  align-items: center;
}
