.nav {
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 200;
  background-color: rgb(0, 0, 0, 0.5);
}

.content {
  margin: 0 auto;
  max-width: 1200px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 10px;
  border: 1px solid transparent;
}

.titleContent {
    display: flex;
    align-items: center;
}

.logo {
  margin: 0 5px 0 0;
  color: white;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 15px;
}

.itemList {
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navOptions {
  display: flex;
  align-items: center;
}
