.content {
  padding-top: 5%;
  background: #24B5E0;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 100vh;
}

.button {
  font-size: 1.5rem;
  border-radius: 15px;
  font-weight: bold;
  padding: 10px;
  z-index: 100;
  margin: 0 50px;
  background-color: rgb(255, 255, 255);
  color: rgb(198, 117, 71);
  border: 2px solid rgb(198, 117, 71);
}

.main {
  position: absolute;
  width: 60%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  /* justify-content: end; */
}

.button:hover {
  background-color: rgb(198, 117, 71);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  transition: all 0.5s ease;
}

.doggy {
  width: 60%;
  z-index: 0;
  border-radius: 50px;
}

.title {
  margin: 20% 50px 5% auto;
  z-index: 100;
  color: white;
}

