.content {
  padding-top: 5%;
  border: 1px solid transparent;
  /* background: linear-gradient(to right, rgb(0, 102, 255), rgb(255, 230, 0)); */
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.over {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 2000;
  animation: inicio 1s linear;
}

@keyframes inicio {
  from {
    background: rgba(255, 255, 255, 1);
    filter: blur(5px);
    backdrop-filter: blur(10px);
  }
  to {
    background: rgba(255, 255, 255, 0);
    filter: blur(5px);
    backdrop-filter: blur(0px);
  }
}

.overlay {
  position: relative;
  width: 1140px;
  background: rgba(255, 255, 255, 0.291);
  /* height: 650px; */
  border-radius: 50px;
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.4);
  /* backdrop-filter: blur(3px); */

  > h1 {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  .button {
    font-size: 1.5rem;
    border-radius: 15px;
    font-weight: bold;
    padding: 10px;
    z-index: 2000;
    margin: 0 50px;
    background-color: rgb(255, 255, 255);
    color: rgb(198, 117, 71);
    border: 2px solid rgb(198, 117, 71);
    bottom: 100px;
    right: 50px;
    transition: all 0.5s ease;
    animation: salidaBoton 1s linear;
    opacity: 1;
  }

  .title {
    /* margin: 20% 50px 5% auto; */
    z-index: 100;
    color: white;
  }
}

@keyframes salidaBoton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.main {
  position: absolute;
  right: 0px;
  top: 200px;
  width: 60%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;

  > h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.643);
  }
}

.button:hover {
  background-color: rgb(198, 117, 71);
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  transform: scale(1.05);
}

.doggy {
  /* position: absolute; */
  width: 100%;
  z-index: 0;
  border-radius: 50px;
}

/* --------- media querys ---------- */

@media (max-width: 1300px) {
  .overlay {
    width: 900px;
  }
}

@media (max-width: 950px) {
  .overlay {
    width: 700px;
  }
}

@media (max-width: 500px) {
  .main {
    right: 20px;
    top: 40px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    > .title {
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.643);
      font-size: 25px;
      width: 250px;
    }
    .button {
      margin: 0;
      font-size: 20px;
    }
  }
  .overlay {
    margin: 100px 0;
    width: 300px;
    height: 450px;

    > .logo {
      position: absolute;
      bottom: -15%;
      text-shadow: 10px 10px 5px  rgba(0, 0, 0, 0.473);
    }

  }

  .doggy {
    position: absolute;
    bottom: 0;
    height: 60%;
    width: auto;
  }
}
