.cardDark {
    background: linear-gradient(to bottom, #335855, #058a7f);
    color: white;
}

.cardLight {
    background: linear-gradient(to bottom, #1f4cc7, #1f9ac7);
    color: white;
}

.cardDark:hover {
    margin: -10px -10px;
    box-shadow: 0 0 10px rgb(255, 255, 255) ;
    z-index: 700;
}

.cardLight:hover {
    margin: -10px -10px;
    box-shadow: 0 0 10px rgb(0, 0, 0) ;
    z-index: 700;
}


.cardLight, .cardDark {
    width: 280px;
    box-sizing: border-box;
    border-radius: 25px;
    text-align: center;
    margin: 10px;
    animation: selection 1s linear normal;
    position: relative;
    border: 1px solid transparent;
    transition: all .3s;
}

@keyframes selection {
   from{
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}

.image {
    width: 95%;
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.temperament {
    padding-bottom: .8rem;
    margin: 0 auto 2rem;
    max-width: 260px;
}

.subTitle {
    margin: 1rem 0 0 0 ;
}

.weight {
    margin: 0;
}

.id {
    position: absolute;
    z-index: 3;
    left: 85%;
    top: 88%;
}


