* {
  margin: 0;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.templateDogs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.contentImageBar {
  max-width: 1200px;
  max-height: 450px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 0 0 0 50px;
  transition: transform 0.5s ease;

  .carruselInner {
    position: relative;
    display: flex;
    padding: 0;
    width: 400%;

    animation: slide 10s infinite alternate ease-in-out;

    & li {
      width: 1200px;
      list-style: none;
    }

    & img {
      width: 100%;
      
    }
  }
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.imageBar {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Este valor asegura que la imagen cubra todo el contenedor */
  object-position: top;
}

.expandido {
  height: 450px;
}

.minimizado {
  height: 150px;
}

.minimizado,
.expandido {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 40px;
  font-weight: 600;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all 0.5s;

  .title {
    font-size: 40px;
    margin: 0 0 0 40px;
    color: white;
  }

  .message {
    font-size: 20px;
    margin: 0 0 40px 40px;
    color: rgb(171, 170, 170);
  }

  .messageRedes {
    z-index: 600;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .redes {
    margin: 0 40px;
    z-index: 600;
    & svg {
      margin: 10px;
    }
  }

  .linked:hover {
    transition: all 0.5s;
    color: rgb(13, 83, 145);
  }
  .github:hover {
    transition: all 0.5s;
    color: rgb(169, 169, 169);
  }
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Color de fondo para el div */
  z-index: 1;
  border-radius: 0 0 0 50px;
}

/* media querys */

@media (max-width: 1300px) {
  .templateDogs {
    grid-template-columns: repeat(3, 1fr);
  }
  .content {
    max-width: 900px;
  }
}
@media (max-width: 1000px) {
  .templateDogs {
    grid-template-columns: repeat(2, 1fr);
  }
  .content {
    max-width: 600px;
  }

  .expandido {
    height: 250px;
    .messageRedes {
      & h1 {
        font-size: 20px;
      }
      & p {
        font-size: 15px;
      }
    }
    .redes {
      margin: 0;
    }
  }
  .minimizado {
    height: 100px;
    .messageRedes {
      & h1 {
        font-size: 20px;
      }
      & p {
        font-size: 15px;
      }
    }
    .redes {
      margin: 0;
    }
  }
}

/* movil */
@media (max-width: 700px) {
  .templateDogs {
    grid-template-columns: repeat(1, 1fr);
  }
  .content {
    max-width: 300px;
  }
  .expandido {
    height: 150px;
    .messageRedes {
      & h1 {
        font-size: 20px;
      }
      & p {
        font-size: 15px;
      }
    }
    .redes {
      margin: 0;
    }
  }
  .minimizado {
    height: 150px;
    .messageRedes {
      & h1 {
        font-size: 20px;
      }
      & p {
        font-size: 15px;
      }
    }
    .redes {
      margin: 0;
    }
  }
}
