.content {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;

  .contentTitle {
    max-width: 450px;
  }

  .prevContent {
    display: flex;
    width: 607px;
    flex-direction: column;
    align-items: center;
  }
}

.rango {
  width: 50%;
  margin: 0;
  text-align: center;
}

.rangoGrupo {
  display: flex;
  justify-content: center;
}

.descripcion {
  max-width: 300px;
  font-size: 20px;
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  width: 100%;
}

.formularioDark {
  width: 400px;
  background: linear-gradient(to bottom, #335855, #058a7f);
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px 0;
  .button {
    background: linear-gradient(to bottom, #335855, #058a7f);
    color: white;
  }
}

.formularioLight {
  width: 400px;
  background: linear-gradient(to bottom, rgb(155, 118, 80), rgb(182, 149, 116));
  color: white;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px 0;
  .button {
    background: linear-gradient(to bottom, rgb(155, 118, 80), rgb(182, 149, 116));
    color: white;
  }
}

.seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 15px auto;

  & select {
    width: 100%;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 5px;
    text-align: center;
  }
}

.button {
  margin: auto;
  border: 2px solid white;
  padding: 7px 15px;
  font-size: 1.5rem;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

.button:hover {
  background: white;
  border: 2px solid white;
  color: rgb(36, 181, 224);
}

.titulo {
  text-align: center;
}

.error {
  color: brown;
  font-weight: bold;
}

.container {
  color: #ffffff;
}

.btn-confirm {
  padding: 10px 24px;
  font-size: 16px;
  font-weight: bold;
}

.successDark {
  color: #ffffff;
}
.successLight {
  color: #1b1b1b;
}

.successDark, .successLight {
  font-size: 24px;
  overflow: hidden; /* Selecciona todo lo que se encuentre fuera del div */
  border-right: .15em solid orange; /* Banner que aumentara al final de la animacion */
  white-space: nowrap; /* Hace que el texto no salte de linea */
  margin: 50px auto 0; /* Centra horizontalmente el cajon del texto */
  letter-spacing: .15em; /* Espacio entre caracteres */
  animation: escribir 3s steps(40, end);

}

@keyframes escribir { /* Nombre para usar en la animacion junto la propiedad animation */
  from { width: 0 } /* Comienza con ancho 0 */
  to { width: calc(53ch + 1px) } /* Termino cuando llegado al maximo del texto contando con ancho suficiente para mostrar el banner */
}


@media(max-width: 900px) {

  .formularioDark, .formularioLight {
    box-sizing: border-box;
  }


  .content {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  align-items: flex-start;

  .contentTitle {
    margin: 80px 0 0 0;
    max-width: 450px;
  }

  .prevContent {
    display: flex;
    width: 407px;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .successDark, .successLight {
  font-size: 15px;
  overflow: hidden; /* Selecciona todo lo que se encuentre fuera del div */
  border-right: .15em solid orange; /* Banner que aumentara al final de la animacion */
  /* white-space: nowrap; Hace que el texto no salte de linea */
  margin: 50px auto 0; /* Centra horizontalmente el cajon del texto */
  letter-spacing: .15em; /* Espacio entre caracteres */
  animation: escribir 3s steps(40, end);
}

}
}
