.paginadoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 0 0 50px;
}

.container {
  width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.page {
  width: 30px;
  margin: 40px 0;
  text-align: center;
  border: 1px solid grey;
  background: inherit;
  color: inherit;
}

.position {
  margin: 5px;
  padding: 5px;
}

.buttonDark {
  background: rgb(51, 88, 85);
  color: white;
  padding: 7px 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all .3s;
}

.buttonDark:hover {
  background: rgb(64, 154, 146);
  color: white;
}

.buttonLight {
  background: rgb(31, 154, 199);
  color: white;
  padding: 7px 10px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: all .3s;
}

.buttonLight:hover {
  background: rgb(31, 79, 199);
  color: white;
}

/*  media querys----- */


@media(max-width:1300px) {
  .container {
    width: 900px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width:1000px) {
  .container {
    width: 600px;
    grid-template-columns: repeat(2, 1fr);
  }
}

/* movil */

@media(max-width:700px) {
  .container {
    width: 300px;
    grid-template-columns: repeat(1, 1fr);
  }
  .principalContent{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


