.blackMode,
.lightMode {
  display: flex;

  .button,
  .input {
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    transition: all 0.5s;
  }

  .input {
    min-width: 120px;
  }

  .input:active {
    border: red;
  }

  .input::placeholder {
    color: white;
  }

  .button:hover {
    border: 1px solid white;
    border-radius: 10px;
    color: white;
  }
}

.blackMode {
  .button,
  .input {
    background: linear-gradient(to bottom, #335855, #058a7f);
    &:hover {
      background: rgb(7, 136, 126);
    }
  }

  .button:hover {
    border: 1px solid white;
    border-radius: 10px;
    color: white;
  }
}

.lightMode {
  .button,
  .input {
    background: linear-gradient(
      to bottom,
      rgb(155, 118, 80),
      rgb(182, 149, 116)
    );

    &:hover {
      border: 1px solid rgb(182, 149, 116);
      color: rgb(182, 149, 116);
    }
  }

  .button:hover {
    background: white;
    border-radius: 10px;
  }
}
