.blackMode,
.lightMode {
  display: flex;
  flex-direction: column;

  .button,
  .input {
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    transition: all 0.5s;
  }

  .input {
    min-width: 120px;
  }

  .input:active {
    border: red;
  }

  .input::placeholder {
    color: white;
  }

  .button:hover {
    border: 1px solid white;
    border-radius: 10px;
    color: white;
  }

  .errorModal {
    position: relative;
    padding: 95px 0 0;
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: aparecer 1s ease;

    & img {
      width: 100%;
      position: absolute;
      top: 0;
      z-index: 0;
    }

    & p {
      z-index: 100;
      color: black;
    }

    & button {
      z-index: 100;
    }
  }

  .contentInput {
    display: flex;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
    margin-left: -20px;
  }
  25% {
    margin-left: 20px;
  }

  50% {
    margin-left: -20px;
  }
  75% {
    margin-left: 20px;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

.blackMode {
  .button,
  .input {
    background: linear-gradient(to bottom, #335855, #058a7f);
    &:hover {
      background: rgb(7, 136, 126);
    }
  }

  .button:hover {
    border: 1px solid white;
    border-radius: 10px;
    color: white;
  }
}

.lightMode {
  .button,
  .input {
    background: linear-gradient(
      to bottom,
      rgb(155, 118, 80),
      rgb(182, 149, 116)
    );
    color: white;

    &:hover {
      border: 1px solid rgb(182, 149, 116);
      color: rgb(182, 149, 116);
    }
  }

  .button:hover {
    background: white;
    border-radius: 10px;
  }
}
